
@corazulsecundario: #BFE0DA;   

@corfundoterapia:   #1E6E68;   

@corrosaterapia:    #2A9D8F;   

@corrosaprimario:   #FBEAE1;   

@corrosasecundario: #C97B8C;   
@cortextoterapia:   #ffffff;

@cor-texto-claro:  @cortextoterapia;
@cor-texto-escuro: #222222;

@bg-section-azul: @corrosaterapia;
@bg-section-rosa: @corrosaprimario;

@fonte-titulo: 'Pacifico', cursive;
@fonte-texto:  'Nunito', sans-serif;